<mat-toolbar color="accent" class="position-fixed">
  <span>Escolha um livro</span>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Velho Testamento
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="listagem">
      <div *ngFor="let item of vt;" class="list-item">
        <a mat-stroked-button [routerLink]="['/' + item.abbrev]">{{ item.name }}</a>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Novo Testamento
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="listagem">
      <div *ngFor="let item of nt;" class="list-item">
        <a mat-stroked-button [routerLink]="['/' + item.abbrev]">{{ item.name }}</a>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
