/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.position-fixed {
    top: 0;
    position: sticky;
    z-index: 999;
    opacity: 1;
}

.listagem {
    display: flex;
    flex-wrap: wrap;
}

.listagem .list-item {
    margin: .5rem;
}

.listagem .list-item .testamento {
    min-width: calc(100vw - 1rem);
    font-weight: bold;
}