p {
    margin-bottom: 5px;
}

.navegacao {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}